<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Usuario">
    
    <resultMap id="usuarioResultMap" type="pe.edu.cibertec.pojos.Usuario">
        <id property="id" column="id" />
        <result property="nombreUsuario" column="nombre_usuario"/>
        <result property="nombres" column="nombres"/>
        <result property="apellidos" column="apellidos"/>
        <result property="contrasenia" column="contrasenia"/>
        <result property="correo" column="correo"/>
        <association property="estado" column="id_estado" javaType="pe.edu.cibertec.pojos.Estado">
            <id property="id" column="estado_id"/>
            <result property="nombre" column="estado_nombre" />
        </association>
        <association property="rol" column="id_rol" javaType="pe.edu.cibertec.pojos.Rol">
            <id property="id" column="rol_id"/>
            <result property="nombre" column="rol_nombre" />
        </association>
    </resultMap>
    
    <select id="list" resultMap="usuarioResultMap">
        Select u.id, u.nombre_usuario, u.nombres, u.apellidos, u.correo,
        e.id estado_id,	e.nombre estado_nombre,
        r.id rol_id, r.nombre rol_nombre
        From usuario u
        Left Join estado e On e.id = u.id_estado
        Left Join rol r On r.id = u.id_rol
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="pe.edu.cibertec.pojos.Usuario">
        Insert Into usuario (nombre_usuario, nombres, apellidos, contrasenia, correo, id_estado,  id_rol)
        values (#{nombreUsuario},#{nombres},#{apellidos},#{contrasenia},#{correo},#{id_estado},#{id_rol})
    </insert>
    
    <delete id = "delete" parameterType = "int">
        Delete From usuario Where id = #{id};
    </delete>
    
    <select id="read" parameterType="int" resultMap="usuarioResultMap">
        Select u.id, u.nombre_usuario, u.nombres, u.apellidos, u.contrasenia, u.correo,
        e.id estado_id,	e.nombre estado_nombre,
        r.id rol_id, r.nombre rol_nombre
        From usuario u
        Left Join estado e On e.id = u.id_estado
        Left Join rol r On r.id = u.id_rol
        Where u.id = #{id}
    </select>
    
    <update id="update" parameterType="pe.edu.cibertec.pojos.Usuario">
        Update usuario Set nombre_usuario = #{nombreUsuario}, nombres = #{nombres},
        apellidos = #{apellidos}, contrasenia = #{contrasenia}, correo = #{correo},
        id_estado = #{id_estado}, id_rol = #{id_rol},
        Where id = #{id}
    </update>

</mapper>
